// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$dark-blue: #2662ab;
$light-blue: #2396d3;
$opacity-blue: #2662ab6b;



// Basic Color 
$black: #000;
$white: #fff;
