.font-blue-dark {
    color: $dark-blue;
}

.font-blue-light {
    color: $light-blue;
}

p.paragragh {
    word-spacing: 2px;
}

p.section-title {
    word-spacing: 2px;
}


p.section-title {

    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: $dark-blue;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
    margin-bottom: 15px;

    &:before {
        background-color: $black;
        content: '';
        display: block;
        height: 3px;
        width: 75px;
        margin-bottom: 5px;
    }

    &:after {
        background-color: $black;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 3px;
        width: 75px;
        margin-bottom: 0.25em;
    }

}
