/*==========================================================
====== Global
===========================================================*/
.text-underline{
    text-decoration: underline;
}
.padding-heading-125 {
    padding: 125px 0;
}
.gradient-bg{
    background: linear-gradient(75deg, #2662ab 10%, #2662abe0) !important;
}
.gradient-bg-secondry-color{
    background: linear-gradient(75deg, #ebb010 10%, #ebb110da) !important;
}
.footer-box{
    background-color: #2662ab;
    padding: 50px 0px;
    border-radius: 25px;
}
body::-webkit-scrollbar {
    background-color: #2662ab5b;
    width: 10px;
    right: -10px;
  }

body::-webkit-scrollbar-thumb {
    background-color: #2662ab;
    border-radius: 8px;
    right: -10px;
}
/* animation Up Movement */
@keyframes up-move-animation {
    0%{
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    50%{
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }
    100%{
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}
/* animation Right Movement */
@keyframes right-move-animation {
    0%{
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
    50%{
        -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(15px);
    }
    100%{
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}
/*==========================================================
====== navBar
===========================================================*/
.home-logo-dark{
    background: url('../../images/BlueSky-Logo.png') center center / cover no-repeat !important;
}
/*= LOGO ====*/
.navbar a.navbar-brand{
    background: url('../../images/BlueSky-WhiteLogo.png') center center / cover no-repeat;
    width: 150px;
    height: 70px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.menu li a {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0px ;
    margin-left: 5px;
    border-radius: 15px;
    color: #fff;
}

.menu li a:hover, .menu li:hover>a, .menu li a.active {
    background: #fff;
    color: #2662ab;
}

/*=== Affix ====*/
.header nav.navbar.affix{
    padding: 10px 0px;
}
.navbar.affix .menu li a {
    color: #2662ab;
}
/*= LOGO ====*/
.navbar.affix a.navbar-brand{
    background: url('../../images/BlueSky-Logo.png') center center / cover no-repeat;
}


.navbar.affix .menu li a:hover, .navbar.affix .menu li:hover>a, .navbar.affix .menu li a.active {
    background: #2662ab;
    color: #fff;
}


/*== toggler btn ==*/
button.navbar-toggler {
    color: #2396d2;
    border: 1px solid #2396d2;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 17px 1px #99999900;
}
/*======= Sub menu ==========*/
.menu ul.sub-menu{
    margin-top: 10px;
}
.menu ul.sub-menu a{
    border-radius: 0px;
    margin-left: 0;
    margin: 0;
}
/*==========================================================
====== Video
===========================================================*/
.free-trial-image:before{
    background: #2662ab5e  !important;
}




/*==========================================================
====== Pricing
===========================================================*/
.price-img img{
    animation-name: right-move-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/*==========================================================
====== Services
===========================================================*/
.promo-single-wrap{
    margin: 20px 0px;
    min-height: 460px;
}
.promo-single-wrap img{
    animation-name: up-move-animation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
.number-bg {
    left: 0;
    right: 0;
    z-index: -1;
    top: -30px;
    color: #ebb11028;
    font-size: 180px;
    line-height: 120px;
    font-weight: 700;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    -webkit-animation: mover 1.5s infinite alternate;
    animation: mover 1.5s infinite alternate;
}
/*==========================================================
====== main Header
===========================================================*/
.hero-slider-content .lead{
    color: #202020;
}

/*==========================================================
====== Login Page
===========================================================*/
.input-icon span {
    height: calc(3.4rem - 2px);
}
/*==========================================================
====== About Page
===========================================================*/
.outstanding-section img{
    animation-name: up-move-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/*==========================================================
====== Contact Us
===========================================================*/
.contact-us-promo .row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.contact-us-promo .row > [class*='col-'] {
    /* display: flex;
    flex-direction: column; */
}

/*==========================================================
====== footer
===========================================================*/


/*==========================================================
====== service-details-section
===========================================================*/
.service-details-section span.content ul{
    list-style: disc;
    margin-left: 15px;
}



/*==========================================================
====== Resonsive
===========================================================*/
@media (max-width: 992px) {
    /*==========================================================
    ====== navBar
    ===========================================================*/
    .navbar {
        background: #fff !important;
        padding: .45rem 1rem !important;
    }
    .menu li a {
        margin: 7px 0 ;
        color: #2662ab;
    }
    ul.navbar-nav{
        margin-top: 10px;
        border-top: 1px solid #0000004a ;
    }
    .menu li a:hover, .menu li:hover>a, .menu li a.active {
        background: #2662ab !important;
        color: #fff !important;
    }
    /*= LOGO ====*/
    .navbar a.navbar-brand{
        background: url('../../images/BlueSky-Logo.png') center center / cover no-repeat !important;
    }

    /*==========================================================
    ====== Header
    ===========================================================*/
    .hero-slider-content h1{
        font-size: 50px;
    }

    .footer-section img.logo{
        max-width: 240px;
    }

}
