/*==========================================================
====== Global
===========================================================*/
.gradient-bg{
    background: linear-gradient(75deg, #2662ab 10%, #2662abe0) !important;
}
.gradient-bg-secondry-color{
    background: linear-gradient(75deg, #ebb010 10%, #ebb110da) !important;
}
.footer-box{
    background-color: #2662ab;
    padding: 50px 0px;
    border-radius: 25px;
}
body::-webkit-scrollbar {
    background-color: #2662ab5b;
    width: 10px;
    right: -10px;
  }

body::-webkit-scrollbar-thumb {
    background-color: #2662ab;
    border-radius: 8px;
    right: -10px;
}


/*==========================================================
====== navBar
===========================================================*/
.menu li a {
    font-size: 14px;
    padding:  12px;
    color: #fff;
}
/*=== Affix ====*/
.navbar.affix .menu li a{
    color: #2662ab;
}
/*== toggler btn ==*/
button.navbar-toggler {
    color: #2396d2;
    border: 1px solid #2396d2;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 17px 1px #99999900;
}
/*==========================================================
====== Video
===========================================================*/
.free-trial-image:before{
    background: #2662ab5e  !important;
}




/*==========================================================
====== Services
===========================================================*/
.promo-single-wrap{
    margin: 20px 0px;
    min-height: 460px;
}
.promo-single-wrap img{
    animation-name: up-move-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
 /* animation */
 @keyframes up-move-animation {
    0%{
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    50%{
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }
    100%{
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}
/*==========================================================
====== Header
===========================================================*/
.hero-slider-content .lead{
    color: #202020;
}









/*==========================================================
====== Resonsive
===========================================================*/
@media (max-width: 992px) {
    /*==========================================================
    ====== navBar
    ===========================================================*/
    .navbar {
        background: #fff !important;
        padding: .45rem 1rem !important;
    }

    .menu li a {
        color: #2662ab;
    }
    .menu li a:hover{
        color: #2662ab;
        background-color: #ebb11023;
    }
    /*==========================================================
    ====== Header
    ===========================================================*/
    .hero-slider-content h1{
        font-size: 50px;
    }
}
